# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Imported jars
lib/*.jar

# IDE
.idea/
*.iml
*.iws
.vscode/

# macOS
.DS_Store

# Compiled classes
*.class
*.jar

# Logs
*.log